{:paths ["src" "test" "dev" "resources"]
 :deps {no.cjohansen/nexus {:mvn/version "2025.11.1"}
        no.cjohansen/replicant {:mvn/version "2025.12.1"}
        org.clojure/clojure {:mvn/version "1.12.0"}
        thheller/shadow-cljs {:mvn/version "3.3.8"}}
 :aliases {:dev {:extra-paths ["portfolio/src"]
                 :extra-deps {no.cjohansen/portfolio {:mvn/version "2026.03.1"}}}}}
