<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;,">
    <link rel="apple-touch-icon" href="data:," />
    <link rel="stylesheet" href="/style.css?t={% verbatim %}{{now}}{% endverbatim %}" />
    <link rel="stylesheet" href="/{{path}}/style.css?t={% verbatim %}{{now}}{% endverbatim %}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <script>window.goatcounter={path:function(p){return '{{path}}:'+p}}</script>
  </head>
  <body>
    <div id="app"></div>
    <script src="/{{path}}/js/app.js?t={% verbatim %}{{now}}{% endverbatim %}"></script>
  </body>
</html>
